<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Carros</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"/>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="shortcut icon" th:href="@{/images/spring_framework_logo.png}" type="image/x-icon">
  </head>
  <body>
    

    <!--Modal Register-->
    <div class="modal fade" id="RegisterModal" tabindex="-1" role="dialog" aria-labelledby="RegisterModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="RegisterModalLabel">Cadastrar Carro</h5>
            <button type="button" class="close CloseModalXButton" data-dismiss="modal" aria-label="Fechar">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form th:action="@{/car/save}" th:object="${noDataCar}" method="post">
            <div class="modal-body">
              <div class="form-row">

                <div class="form-group">
                  <label for="RegisterModalInputName">Nome</label>
                  <input th:field="*{name}" type="text" class="form-control" id="RegisterModalInputName" placeholder="Digite um Nome" required/>
                </div>

                <div class="form-group">
                  <label for="RegisterModalInputPosition">Modelo</label>
                  <input th:field="*{position}" type="text" class="form-control" id="RegisterModalInputPosition" placeholder="Digite o Cargo" required/>
                </div>

                <div class="form-group">
                  <label for="RegisterModalInputSalary">Preço</label>
                  <input th:field="*{salary}" type="text" class="form-control" id="RegisterModalInputSalary" placeholder="Digite o Salário" required/>
                </div>
                
                <div class="form-group">
                  <label for="RegisterModalSelectProjects">Garagem</label>
                  <select th:field="*{garages}" class="form-control" id="RegisterModalSelectGarage">
                    <option th:each="project: ${garagesList}" th:value="${garage}" th:text="${gara.name}"></option>
                  </select>
                </div>

              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
              <button type="submit" class="btn btn-success">Cadastrar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    


   <!--Modal Delete -->  
    <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="DeleteModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="DeleteModalLabel">Excluir Funcionário</h5>
            <button type="button" class="close CloseModalXButton" data-dismiss="modal" aria-label="Fechar">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">Tem certeza que deseja excluir o Funcionário selecionado?</div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
            <a type="button" class="btn btn-danger" id="DeleteModalButton">Excluir</a>
          </div>
        </div>
      </div>
    </div>



   <!--Modal Update--> 
    <div class="modal fade" id="UpdateModal" tabindex="-1" role="dialog" aria-labelledby="UpdateModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="UpdateModalLabel">Editar Funcionário</h5>
            <button type="button" class="close CloseModalXButton" data-dismiss="modal" aria-label="Fechar">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form th:action="@{/car/update}" th:object="${noDataCar}" method="post" id="UpdateModalForm">
            <div class="modal-body">
              <div class="form-row">

                <div class="form-group">
                  <label for="UpdateModalInputName">Nome</label>
                  <input th:field="*{name}" type="text" class="form-control MI" id="UpdateModalInputName" placeholder="Informe o Nome"/>
                </div>

                <div class="form-group">
                  <label for="UpdateModalInputPosition">Cargo</label>
                  <input th:field="*{position}" type="text" class="form-control MI" id="UpdateModalInputPosition" placeholder="Informe o Cargo"/>
                </div>

                <div class="form-group">
                  <label for="UpdateModalInputSalary">Salary</label>
                  <input th:field="*{salary}" type="text" class="form-control MI" id="UpdateModalInputSalary" placeholder="Informe a Salário"/>
                </div>

              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
              <button type="submit" class="btn btn-success">Atualizar</button>
            </div>
          </form>
        </div>
      </div>
    </div>



    <!----- Navegation Menu ---------------------------------------------------------------------->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-sm-around">
      <div class="navItem">
        <a th:href="@{/car/}">
          <img th:src="@{/images/spring_framework_logo_white.png}"/>
        </a>
      </div>
      <h1 class="navbar-brand">Gestão de Carros</h1>
      <div class="navItem">
        <a th:href="@{/garage/}">Carros</a>
      </div>
    </nav>



    <!--Header-->  
    <header>
      <div class="container">
        <div class="row">
          <h2 class="mt-3">Relação de Carros</h2>
        </div>
        <div class="row">
          <div class="mt-2 mb-2">
            <a class="btn btn-success" data-toggle="modal" data-target="#RegisterModal">
              <i class="fas fa-user-plus"></i>
              Cadastrar Novo Carro
            </a>
          </div>
        </div>
      </div>
    </header>



    <!--Table-->  
    <main>
      <div class="container">
        <div class="table-responsive">
          <table class="table table-striped table-bordered">

            <thead class="table-dark">
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Nome</th>
                <th scope="col">Modelo</th>
                <th scope="col">Preço</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="car: ${carsList}">
                <th th:text="${car.id}" scope="row"></th>
                <th th:text="${car.name}" scope="row"></th>
                <th th:text="${car.position}" scope="row"></th>
                <th th:text="${car.salary}" scope="row"></th>
                <th class="btnArea">
                  <a class="btn btn-primary" data-toggle="modal" data-target="#UpdateModal" th:attr="onclick=|UpdateObj('${car}')|">Editar</a>
                  <a class="btn btn-danger" data-toggle="modal" data-target="#DeleteModal" th:attr="onclick=|DeleteObj('/car', '${car.id}')|">Excluir</a>
                </th>
              </tr>
            </tbody>
          </table>


         <!--No Restults Message -->  
          <p class="no-results" th:if="${carsList.isEmpty}">Nenhum resultado encontrado</p>

        </div>
      </div>
    </main>



    <!--Footer-->  
    <footer class="bg-dark text-center text-lg-start">
      <div class="text-center p-3">
        <p>TADS5 - DBF-I - @Relacionamentos - © Criado por Douglas</p>
      </div>
    </footer>



    <!--Scripts-->  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    
    <script src="https://kit.fontawesome.com/8c436b5a19.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script type="text/javascript" th:src="@{/js/main.js}"></script>

  </body>
</html>